<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
<title>Trang chá»§</title>
</head>
<body>

	<div class="header" th:fragment="header">
		<div class="menu_bar">
			<div class="banner-banner_bar">
				<img alt="" th:src="@{/images/banner_top_ads.jpg}"  src="images/banner_top_ads.jpg">
			</div>
			<div class="menu-banner_bar">
				<div id="menu_homepage">
				
					<a href="new_food.jsp"><button type="button" class="btn btn-primary">Trang chủ</button></a> <a
						href="nguyenlieu.jsp"><button type="button" class="btn btn-primary">Nguồn nguyên liệu</button></a> <a
						href="noiqui.jsp"><button type="button" class="btn btn-primary">Quy định</button></a> <a
						href="tuyendung.jsp"><button type="button" class="btn btn-primary">Tuyển dụng</button></a> <a
						href="tintuc.jsp"><button type="button" class="btn btn-primary">Tin tức</button></a>
				

				</div>
			</div>

		</div>
		<div class="filter_bar">
				<div class="ads">
				<a href="new_food.jsp"><img alt="logo" th:src="@{/images/logo_TTS.png}"></a>
				<div id="filter_option_menu">
			
					<select name="phase_filter" class="phase_filter_selected">
					
						<option value="">dfjssdfsdfsdsf</option>
						<option value="">dfjsf</option>
						<option value="">dfjsf</option>
					</select> 
					<input type="text" class="phase_search" placeholder="Món ăn, nguyên liệu, loại hinh..."> 
					<button type="submit" class="btn_search btn btn-primary"><i class="fa fa-search"></i></button>
					<a href="Admin-monan.jsp">Trang admin </a>                                                                                                                                    
					<a href="formula_request.jsp">Món ăn theo cách làm</a>
					<a href="profile_user.jsp" class="menu_img_user">  <img alt="" src="" th:src="@{/images/chief.png}" >  Trang của tôi</a> 
					<span class="card_img">
						<a href="card_manage.jsp"> 
						<img alt="" th:src="@{/images/icon_cart.png}"> 
						</a> 
					</span>
					<span class="card-avalible">
						<p></p>
					</span>
				</div>
			</div>
		</div>s


	</div>

	<div class="slider" >

		<div class="slideshow-container">

			<div class="mySlides fade">
				<div class="numbertext"></div>
				<img th:src="@{/images/chief.png}" alt="images/chief.png"  >
				<div class="text">
					<a> </a>
				</div>
			</div>



		</div>
		<br>

		<div  class="dot_slider">
			<span class="dot" onclick="currentSlide(1)"></span> <span class="dot"
				onclick="currentSlide(2)"></span> <span class="dot"
				onclick="currentSlide(3)"></span>
		</div>


	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document)
				.ready(

						function() {

							$('.btn_search')
									.on(
											'click',
											function() {

												window.location = 'search_filter.jsp?search_phase='
														+ $('.phase_search')
																.val();

											});

							$('.phase_filter_selected')
									.on(
											'change',
											function() {

												window.location = 'filter_page.jsp?phase_filter='
														+ $(
																'.phase_filter_selected')
																.val();

											});

						});
		var slideIndex = 0;
		showSlides();

		function showSlides() {
			var i;
			var slides = document.getElementsByClassName("mySlides");
			var dots = document.getElementsByClassName("dot");
			for (i = 0; i < slides.length; i++) {
				slides[i].style.display = "none";
			}
			slideIndex++;
			if (slideIndex > slides.length) {
				slideIndex = 1
			}
			for (i = 0; i < dots.length; i++) {
				dots[i].className = dots[i].className.replace(" active", "");
			}
			slides[slideIndex - 1].style.display = "block";
			dots[slideIndex - 1].className += " active";
			setTimeout(showSlides, 4000); // Change image every 2 seconds
		}
	</script>
</body>
</html>